<div class="app-content content" style="margin-left:15%;margin-right:15%">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-12 mb-2">
            </div>
        </div>
        <div class="content-body">
            <section id="description" class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        <span class="badge bg-info">les Résultats de tous les étudiants</span>
                    </h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div ng-show="dash.users">
                            <table class="table table-bordered table-hover" st-table="displayedCollection" st-safe-src="dash.users">
                                <thead class="bg-danger">
                                    <tr>
                                        <th scope="col">Nom d'utilisateur</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Date d'inscription</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in displayedCollection | orderBy:'nom'">
                                        <td align="center"><b>{{user.login}}</b></td>
                                        <td align="center"><b>{{user.email}}</b></td>
                                        <td align="center"><b>{{user.Date | date: "dd-MM-yyyy HH:mm:ss 'GMT'Z" }}</b></td>
                                        <td align="center">
                                            <button class="btn btn-success" title="montrer les résultats" ng-click="showUserResult(user._id)">
                                                <strong style="color:white">Montrer les Résultats</strong>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div ng-show="dash.userResults">
                            <button class="btn btn-warning" style="margin-top: 0px;" title="revenir en arrière" ng-click="dash.back2users()">
                                <i class="icon-action-undo"></i>
                            </button>
                            <br>
                            <br>
                            <table class="table table-bordered table-hover" st-table="displayedCollection" st-safe-src="dash.userResult">

                                <thead class="bg-success">
                                    <th scope="col">
                                        Nom de QCM &nbsp;
                                        <i class="ft-list" ng-click="orderByMe('quizTopic')"></i>
                                    </th>
                                    <th scope="col">Résultats &nbsp;
                                        <i class="ft-list" ng-click="orderByMe('userResult')"></i>
                                    </th>
                                    <th scope="col">Date &nbsp;
                                        <i class="ft-list" ng-click="orderByMe('date')"></i>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="result in displayedCollection | orderBy: myOrderBy : true">
                                        <td align="center"><b>{{result.quizTopic}}</b></td>
                                        <td align="center"><b>{{result.userResult}}</b></td>
                                        <td align="center"><b>{{result.date | date: 'yyyy-MM-dd HH:mm:ss Z'}}</b></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-center">
                                            <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-show="dash.errShow">
                            <button class="btn btn-primary" style="margin-top: 0px;" title="revenir en arrière" ng-click="dash.back2users()">
                                <i class="icon-action-undo"></i>
                            </button>
                            <div layout='row' layout-align="center center">
                                <h3 style="margin-top: 40px; margin-bottom: 100px;">
                                    <div class="alert alert-secondary mb-2" role="alert">
                                        <i class="ft-alert-triangle"></i>&nbsp;<b>{{dash.showError}}</b>
                                    </div>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>