<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="flexbox-container">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
              <div class="card-header border-0">
                <div class="card-title text-center">
                  <div class="p-1"><br/>
                    <img src="../../assets/images/qcmlogomjr10.png" alt="branding logo">
                  </div>
                </div><br/>
                <h6 class="card-subtitle line-on-side  text-center font-large-1 pt-2">
                </h6>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <form class="form-simple" ng-submit="login()" novalidate>
                    <fieldset class="form-group position-relative has-icon-left mb-0">
                      <input ng-model="user2.login" name="login" type="text" class="form-control form-control-lg input-lg"
                        placeholder="Entrez votre nom d'utilisateur" required>
                      <div class="form-control-position">
                        <i class="ft-user"></i>
                      </div>
                    </fieldset><br/>
                    <fieldset class="form-group position-relative has-icon-left">
                      <input ng-model="user2.password" name="password" type="password" class="form-control form-control-lg input-lg" id="UserPassword"
                        placeholder="Entrez votre mot de passe" required>
                      <div class="form-control-position">
                        <i class="fa fa-key"></i>
                      </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      <i class="ft-unlock"></i> S'identifier</button>
                    <hr>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <div class="">
                  <p class="float-sm-left text-center m-0">
                    <a href="#" class="card-link"></a>
                  </p>
                  <p ng-show="firstConnection" class="float-sm-right text-center m-0">Nouveau à l'application QCM ?
                    <button class="btn btn-danger" ui-sref="signup"><i class="ft-user-plus"></i></button>
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="clearfix"></div>